html {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.element .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    border-bottom: solid;
    border-color: #fff;
    border-width: 1px;
}

.element .menu .logo{
  float: left;
}

.element .menu .menu_right{
  float: right;
}

.element .menu li a {
    margin-left: 50px;
    display: block;
    color: rgb(33, 33, 33);
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}

.menu li a:hover{
  color: #fff;
}

.corpo{
  width: 500px;
  height: 300px;
  position: relative;
  margin-top: 200px;
  left: 50%;
  margin-left: -250px;
  float: center;
  text-align: center;
}

.corpo h1{
  color: rgb(44, 44, 48);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
}

.corpo p{
  color: rgb(44, 44, 48);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.corpo a{
  background-color: rgb(44, 44, 48);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 60px;
  cursor: pointer;
  border-radius: 20px;
}

.corpotudotexto {
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: rgb(255, 255, 255);
}

.corpotudotexto  h1{
  margin-top: 50px;
  color: rgb(44, 44, 48);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
}

.corpotudotexto .left{
  margin-left: 50px;
  width: 45%;
  float: left;
  font-size: 18px;
  text-align: justify;
}

.corpotudotexto .left p{
  letter-spacing: 2px;
  margin-top: 20px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.corpotudotexto .right{
  margin-left: 80px;
  width: 45%;
  float: left;
}

.corpotudotexto .right p{
  letter-spacing: 2px;
  float: left;
  width: 85%;
  margin-top: 20px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.corpotudotexto .right img{
  float: left;
  margin-top: 20px;
  width:650px;
  height:350px;
}

.corpotudotexto a{
  color: rgb(44, 44, 48);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-decoration: none;
}

.corpotudotexto .topo h1{
  margin-top: 50px;
  margin-left: 60px;
  color: rgb(44, 44, 48);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(185, 185, 185);
  width: 90%;
}

.corpotudotexto .imagens img{
  float: left;
  margin-top: 20px;
  width:650px;
  height:350px;
}

.corpotudotexto .imagens .um{
  float: left;
  margin-left: 60px;
  width: 40%;
}

.corpotudotexto .imagens .um p{
  margin-top: 10px;
  text-align: justify;
}

.corpotudotexto .imagens .dois{
  float: right;
  margin-right: 5%;
  width: 40%;
}
.corpotudotexto .imagens .dois p{
  margin-top: 10px;
  text-align: justify;
}

.corpotudotexto .imagens .tres{
  float: left;
  margin-left: 60px;
  width: 40%;
}

.corpotudotexto .imagens .tres p{
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 15px;
}

.corpotudotexto .imagens .quatro{
  float: right;
  margin-right: 5%;
  width: 40%;
}

.corpotudotexto .imagens .quatro p{
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 15px;
}

.corpotudotexto .header img{
  position: absolute;
  width: 90%;
  height: 200px;
  left: 5% !important;
}
